# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
*.env

# FastAPI
instance/
*.db

# PyCharm
.idea/
*.iml

# Logs and cache
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Pip dependencies
deps/
*.egg-info/

# Testing
.tox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy and coverage
.mypy_cache/
.coverage
htmlcov/